{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet"
  />
    <link href="{% static 'global/css/style.css' %}" rel="stylesheet">
    {% block 'head' %} {% endblock 'head' %}

    <title>{% block 'titulo' %} {% endblock 'titulo' %}</title>
</head>
<body>
    <input id="close-menu" class="close-menu" type="checkbox" aria-label="Close menu" role="button">
    <label class="close-menu-label" for="close-menu" title="close menu"></label>
    <aside class="menu white-bg">
      <div class="main-content menu-content">
        <h1 onclick="getElementById('close-menu').checked = false;"><a href="{% url "estoque:index" %}">Nenus Sports</a></h1>
        <nav>
          <ul onclick="getElementById('close-menu').checked = false;">
            <li><a href="{% url "estoque:index" %}">Home</a></li>
            <li><a href="{% url "estoque:cadastrar_produto" %}">Cadastrar Produto</a></li>
          </ul>
        </nav>
      </div>
    </aside>

    {% block 'conteudo' %} {% endblock 'conteudo' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>